<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.splunkotelreactnative">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>
    <provider
      android:name=".SplunkPerfProvider"
      android:authorities="${applicationId}.SplunkPerfProvider"
      android:initOrder="200"
      android:exported="false"/>
  </application>
</manifest>
